{% extends "base.html" %}

{% block content %}

<main>

  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-2" data-ride="carousel">

        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover; width:100%">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Sell / Rent Books on yoursbook</strong>
              </h1>
              
                <a href="{% url 'app:seller-register' %}" class="btn btn-outline-white btn-lg">Start Selling
                  <i class="fas fa-graduation-cap ml-2"></i>
                </a>
                <p class="mb-2">
                    <strong>It only takes 15 minutes to setup your account</strong>
                  </p>
        
            </div>
    </div>
    </div>
  </div>

  <div class="container">
        <div id="" style="width:100%">
            <h2 class="heading align-start font-size-large color-gulfstream ember font-bold">
             Why sell on yoursbook?</h2>
        </div>
            
              <!-- <div class="image align-start">
                  <img onload="window.uet &amp;&amp; uet.call &amp;&amp; uet(&quot;af&quot;);"
                   src="https://m.media-amazon.com/images/G/01/marketplace-creative/sandbox/SOA_Desktop_Computer_Rupee._CB1547829431_.svg" alt="" title="" height="100" style="height:100px">
                </div> -->


                <div class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width amsg-2018 fonts-loaded border-color-transparent" 
                   id="" style="width:100%"><h3 class="heading align-start font-size-regular color-gulfstream ember font-bold">
                       E-Commerce: Your next big sales channel</h3>
                    </div>


                       <div class="padding-top-small" id="" style="width:100%">
                       <div class="text align-start color-gulfstream font-size-small bookerly">Start selling on yoursbook - without 
                           building a website. Register now to start selling on yourSbook.</div></div>
                        
                            
                            <div class="image align-start"><img onload="window.uet &amp;&amp; uet.call &amp;&amp; 
                            uet(&quot;af&quot;);" src="https://m.media-amazon.com/images/G/01/marketplace-creative/Icons-2018/Customer_Segments.svg" alt="" title="" height="100" style="height:100px">
                            </div>
                            <div class="flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width 
                            amsg-2018 fonts-loaded border-color-transparent" id="" style="width:100%">
                            <h3 class="heading align-start font-size-regular color-gulfstream ember font-bold">
                                Reach crores of customers

                            </h3></div>

                            <div class="padding-top-small flex-container flex-align-items-stretch flex-align-content-flex-start flex-full-width amsg-2018 fonts-loaded border-color-transparent" id="" 
                            style="width:100%">
                            <div class="text align-start color-gulfstream font-size-small bookerly">
                                Sell to crores of engaged customer visiting yoursbook on desktop and through our mobile app.
                            </div></div>
                            <img onload="window.uet &amp;&amp; uet.call &amp;&amp; uet(&quot;af&quot;);" 
                             src="https://m.media-amazon.com/images/G/31/amazonservices/icons/Hand_receiving_rupee._CB462087597_.svg" 
                             alt="" title="" height="100" style="height:100px">
                             <div class="flex-container flex-align-items-stretch
                              flex-align-content-flex-start flex-full-width amsg-2018 fonts-loaded border-color-transparent" id="" 
                              style="width:100%"><h3 class="heading align-start font-size-regular color-gulfstream ember font-bold">
                                  Receive timely payments</h3></div>
                                  <div class="padding-top-small flex-container flex-align-items-stretch 
                                  flex-align-content-flex-start flex-full-width amsg-2018 fonts-loaded border-color-transparent" id="" 
                                  style="width:100%"><div class="text align-start color-gulfstream font-size-small bookerly">
                                      yoursbook ensures your payments for your delivered orders are deposited directly in your bank account every 7 
                                      days.

    </div></div></div>

        <div class="mask rgba-blue-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center yellow-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Sell / Rent Books on yoursbook</strong>
              </h1>
                <a href="{% url 'app:seller-register' %}" class="btn btn-outline-black btn-lg">Start Selling
                </a>

                <p class="mb-1">
                <a target="_blank" href="#" class="btn btn-outline-white btn-sm">
                    Learn More about Selling on Amazon
                  </a>
                </p>
        
            </div>
</main>


{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}